### 1. Advanced CRUD Operations
- **Exercise 1**: Use `bulk_write` to insert, update, and delete multiple documents simultaneously.
- **Task 1**: Insert a dataset of `courses` where each course has multiple student enrollments, then display the data.

In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\asus\anaconda3\envs\praktikumbigdatarombel2\lib\site-packages (4.10.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\asus\anaconda3\envs\praktikumbigdatarombel2\lib\site-packages (from pymongo) (2.7.0)

In [2]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

client = MongoClient('mongodb://localhost:27017/')
db = client['university_db']
courses_collection = db['courses']
courses_collection.delete_many({})


operations = [
   InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'Math 102', 'enrollments': 28, 'department': 'Mathematics'}),
    InsertOne({'course': 'Math 103', 'enrollments': 35, 'department': 'Mathematics'}),
    InsertOne({'course': 'Math 104', 'enrollments': 32, 'department': 'Mathematics'}),
    InsertOne({'course': 'Math 105', 'enrollments': 27, 'department': 'Mathematics'}),
    
    # Computer Science Department
    InsertOne({'course': 'CS 101', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'CS 102', 'enrollments': 26, 'department': 'Computer Science'}),
    InsertOne({'course': 'CS 103', 'enrollments': 29, 'department': 'Computer Science'}),
    InsertOne({'course': 'CS 104', 'enrollments': 31, 'department': 'Computer Science'}),
    InsertOne({'course': 'CS 105', 'enrollments': 33, 'department': 'Computer Science'}),
    
    # History Department
    InsertOne({'course': 'History 101', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'History 102', 'enrollments': 22, 'department': 'History'}),
    InsertOne({'course': 'History 103', 'enrollments': 18, 'department': 'History'}),
    InsertOne({'course': 'History 104', 'enrollments': 24, 'department': 'History'}),
    InsertOne({'course': 'History 105', 'enrollments': 19, 'department': 'History'}),
    
    # Physics Department
    InsertOne({'course': 'Physics 101', 'enrollments': 15, 'department': 'Physics'}),
    InsertOne({'course': 'Physics 102', 'enrollments': 18, 'department': 'Physics'}),
    InsertOne({'course': 'Physics 103', 'enrollments': 20, 'department': 'Physics'}),
    InsertOne({'course': 'Physics 104', 'enrollments': 17, 'department': 'Physics'}),
    InsertOne({'course': 'Physics 105', 'enrollments': 19, 'department': 'Physics'})
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

In [3]:
update_operations = [ 
    UpdateOne({'course': 'Math 101'}, {'$set': {'enrollments': 35}})
]

delete_operations = [
    DeleteOne({'course': 'Physics 202'})
]

courses_collection.bulk_write(update_operations + delete_operations)
print('Update and Delete operation completed.')

all_courses = courses_collection.find()
for course in all_courses:
    print(course)

Update and Delete operation completed.
{'_id': ObjectId('672b19df0f0155d030e1360e'), 'course': 'Math 101', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('672b19df0f0155d030e1360f'), 'course': 'Math 102', 'enrollments': 28, 'department': 'Mathematics'}
{'_id': ObjectId('672b19df0f0155d030e13610'), 'course': 'Math 103', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('672b19df0f0155d030e13611'), 'course': 'Math 104', 'enrollments': 32, 'department': 'Mathematics'}
{'_id': ObjectId('672b19df0f0155d030e13612'), 'course': 'Math 105', 'enrollments': 27, 'department': 'Mathematics'}
{'_id': ObjectId('672b19df0f0155d030e13613'), 'course': 'CS 101', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('672b19df0f0155d030e13614'), 'course': 'CS 102', 'enrollments': 26, 'department': 'Computer Science'}
{'_id': ObjectId('672b19df0f0155d030e13615'), 'course': 'CS 103', 'enrollments': 29, 'department': 'Computer Science'}
{'_id': ObjectId('672b19df0f0155d030e13616'), 'course': 'CS 104', 'enrollments': 31, 'department': 'Computer Science'}
{'_id': ObjectId('672b19df0f0155d030e13617'), 'course': 'CS 105', 'enrollments': 33, 'department': 'Computer Science'}
{'_id': ObjectId('672b19df0f0155d030e13618'), 'course': 'History 101', 'enrollments': 20, 'department': 'History'}
{'_id': ObjectId('672b19df0f0155d030e13619'), 'course': 'History 102', 'enrollments': 22, 'department': 'History'}
{'_id': ObjectId('672b19df0f0155d030e1361a'), 'course': 'History 103', 'enrollments': 18, 'department': 'History'}
{'_id': ObjectId('672b19df0f0155d030e1361b'), 'course': 'History 104', 'enrollments': 24, 'department': 'History'}
{'_id': ObjectId('672b19df0f0155d030e1361c'), 'course': 'History 105', 'enrollments': 19, 'department': 'History'}
{'_id': ObjectId('672b19df0f0155d030e1361d'), 'course': 'Physics 101', 'enrollments': 15, 'department': 'Physics'}
{'_id': ObjectId('672b19df0f0155d030e1361e'), 'course': 'Physics 102', 'enrollments': 18, 'department': 'Physics'}
{'_id': ObjectId('672b19df0f0155d030e1361f'), 'course': 'Physics 103', 'enrollments': 20, 'department': 'Physics'}
{'_id': ObjectId('672b19df0f0155d030e13620'), 'course': 'Physics 104', 'enrollments': 17, 'department': 'Physics'}
{'_id': ObjectId('672b19df0f0155d030e13621'), 'course': 'Physics 105', 'enrollments': 19, 'department': 'Physics'}

### 2. Complex Filtering and Querying
- **Exercise 2**: Filter courses with enrollments over 20 students.
- **Task 2**: Retrieve and display courses only from the 'Computer Science' or 'Mathematics' departments.

In [4]:
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('672b19df0f0155d030e1360e'), 'course': 'Math 101', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('672b19df0f0155d030e1360f'), 'course': 'Math 102', 'enrollments': 28, 'department': 'Mathematics'}
{'_id': ObjectId('672b19df0f0155d030e13610'), 'course': 'Math 103', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('672b19df0f0155d030e13611'), 'course': 'Math 104', 'enrollments': 32, 'department': 'Mathematics'}
{'_id': ObjectId('672b19df0f0155d030e13612'), 'course': 'Math 105', 'enrollments': 27, 'department': 'Mathematics'}
{'_id': ObjectId('672b19df0f0155d030e13613'), 'course': 'CS 101', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('672b19df0f0155d030e13614'), 'course': 'CS 102', 'enrollments': 26, 'department': 'Computer Science'}
{'_id': ObjectId('672b19df0f0155d030e13615'), 'course': 'CS 103', 'enrollments': 29, 'department': 'Computer Science'}
{'_id': ObjectId('672b19df0f0155d030e13616'), 'course': 'CS 104', 'enrollments': 31, 'department': 'Computer Science'}
{'_id': ObjectId('672b19df0f0155d030e13617'), 'course': 'CS 105', 'enrollments': 33, 'department': 'Computer Science'}
{'_id': ObjectId('672b19df0f0155d030e13619'), 'course': 'History 102', 'enrollments': 22, 'department': 'History'}
{'_id': ObjectId('672b19df0f0155d030e1361b'), 'course': 'History 104', 'enrollments': 24, 'department': 'History'}

In [5]:

# Jalankan filter pencarian
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('672b19df0f0155d030e1360e'), 'course': 'Math 101', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('672b19df0f0155d030e1360f'), 'course': 'Math 102', 'enrollments': 28, 'department': 'Mathematics'}
{'_id': ObjectId('672b19df0f0155d030e13610'), 'course': 'Math 103', 'enrollments': 35, 'department': 'Mathematics'}
{'_id': ObjectId('672b19df0f0155d030e13611'), 'course': 'Math 104', 'enrollments': 32, 'department': 'Mathematics'}
{'_id': ObjectId('672b19df0f0155d030e13612'), 'course': 'Math 105', 'enrollments': 27, 'department': 'Mathematics'}
{'_id': ObjectId('672b19df0f0155d030e13613'), 'course': 'CS 101', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('672b19df0f0155d030e13614'), 'course': 'CS 102', 'enrollments': 26, 'department': 'Computer Science'}
{'_id': ObjectId('672b19df0f0155d030e13615'), 'course': 'CS 103', 'enrollments': 29, 'department': 'Computer Science'}
{'_id': ObjectId('672b19df0f0155d030e13616'), 'course': 'CS 104', 'enrollments': 31, 'department': 'Computer Science'}
{'_id': ObjectId('672b19df0f0155d030e13617'), 'course': 'CS 105', 'enrollments': 33, 'department': 'Computer Science'}

### 3. Aggregation Framework for Data Analysis
- **Exercise 3**: Use aggregation to find the average enrollment per department.
- **Task 3**: Create an aggregation pipeline that finds the maximum enrollment for each department.

In [6]:
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Physics', 'average_enrollment': 17.8}
{'_id': 'Computer Science', 'average_enrollment': 28.8}
{'_id': 'Mathematics', 'average_enrollment': 31.4}
{'_id': 'History', 'average_enrollment': 20.6}

In [7]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'max_enrollment': 35}
{'_id': 'History', 'max_enrollment': 24}
{'_id': 'Computer Science', 'max_enrollment': 33}
{'_id': 'Physics', 'max_enrollment': 20}

### 4. Data Transformation using $project and $addFields
- **Exercise 4**: Use `$project` to rename and only show fields: `course_name`, `department_name`, and `enrollments`.
- **Task 4**: Use `$addFields` to create a new field `enrollment_category` where enrollments > 20 are 'high' and others 'low'.

In [8]:
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672b19df0f0155d030e1360e'), 'enrollments': 35, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('672b19df0f0155d030e1360f'), 'enrollments': 28, 'course_name': 'Math 102', 'department_name': 'Mathematics'}
{'_id': ObjectId('672b19df0f0155d030e13610'), 'enrollments': 35, 'course_name': 'Math 103', 'department_name': 'Mathematics'}
{'_id': ObjectId('672b19df0f0155d030e13611'), 'enrollments': 32, 'course_name': 'Math 104', 'department_name': 'Mathematics'}
{'_id': ObjectId('672b19df0f0155d030e13612'), 'enrollments': 27, 'course_name': 'Math 105', 'department_name': 'Mathematics'}
{'_id': ObjectId('672b19df0f0155d030e13613'), 'enrollments': 25, 'course_name': 'CS 101', 'department_name': 'Computer Science'}
{'_id': ObjectId('672b19df0f0155d030e13614'), 'enrollments': 26, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('672b19df0f0155d030e13615'), 'enrollments': 29, 'course_name': 'CS 103', 'department_name': 'Computer Science'}
{'_id': ObjectId('672b19df0f0155d030e13616'), 'enrollments': 31, 'course_name': 'CS 104', 'department_name': 'Computer Science'}
{'_id': ObjectId('672b19df0f0155d030e13617'), 'enrollments': 33, 'course_name': 'CS 105', 'department_name': 'Computer Science'}
{'_id': ObjectId('672b19df0f0155d030e13618'), 'enrollments': 20, 'course_name': 'History 101', 'department_name': 'History'}
{'_id': ObjectId('672b19df0f0155d030e13619'), 'enrollments': 22, 'course_name': 'History 102', 'department_name': 'History'}
{'_id': ObjectId('672b19df0f0155d030e1361a'), 'enrollments': 18, 'course_name': 'History 103', 'department_name': 'History'}
{'_id': ObjectId('672b19df0f0155d030e1361b'), 'enrollments': 24, 'course_name': 'History 104', 'department_name': 'History'}
{'_id': ObjectId('672b19df0f0155d030e1361c'), 'enrollments': 19, 'course_name': 'History 105', 'department_name': 'History'}
{'_id': ObjectId('672b19df0f0155d030e1361d'), 'enrollments': 15, 'course_name': 'Physics 101', 'department_name': 'Physics'}
{'_id': ObjectId('672b19df0f0155d030e1361e'), 'enrollments': 18, 'course_name': 'Physics 102', 'department_name': 'Physics'}
{'_id': ObjectId('672b19df0f0155d030e1361f'), 'enrollments': 20, 'course_name': 'Physics 103', 'department_name': 'Physics'}
{'_id': ObjectId('672b19df0f0155d030e13620'), 'enrollments': 17, 'course_name': 'Physics 104', 'department_name': 'Physics'}
{'_id': ObjectId('672b19df0f0155d030e13621'), 'enrollments': 19, 'course_name': 'Physics 105', 'department_name': 'Physics'}

In [9]:
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672b19df0f0155d030e1360e'), 'course': 'Math 101', 'enrollments': 35, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('672b19df0f0155d030e1360f'), 'course': 'Math 102', 'enrollments': 28, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('672b19df0f0155d030e13610'), 'course': 'Math 103', 'enrollments': 35, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('672b19df0f0155d030e13611'), 'course': 'Math 104', 'enrollments': 32, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('672b19df0f0155d030e13612'), 'course': 'Math 105', 'enrollments': 27, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('672b19df0f0155d030e13613'), 'course': 'CS 101', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('672b19df0f0155d030e13614'), 'course': 'CS 102', 'enrollments': 26, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('672b19df0f0155d030e13615'), 'course': 'CS 103', 'enrollments': 29, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('672b19df0f0155d030e13616'), 'course': 'CS 104', 'enrollments': 31, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('672b19df0f0155d030e13617'), 'course': 'CS 105', 'enrollments': 33, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('672b19df0f0155d030e13618'), 'course': 'History 101', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('672b19df0f0155d030e13619'), 'course': 'History 102', 'enrollments': 22, 'department': 'History', 'enrollment_category': 'high'}
{'_id': ObjectId('672b19df0f0155d030e1361a'), 'course': 'History 103', 'enrollments': 18, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('672b19df0f0155d030e1361b'), 'course': 'History 104', 'enrollments': 24, 'department': 'History', 'enrollment_category': 'high'}
{'_id': ObjectId('672b19df0f0155d030e1361c'), 'course': 'History 105', 'enrollments': 19, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('672b19df0f0155d030e1361d'), 'course': 'Physics 101', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('672b19df0f0155d030e1361e'), 'course': 'Physics 102', 'enrollments': 18, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('672b19df0f0155d030e1361f'), 'course': 'Physics 103', 'enrollments': 20, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('672b19df0f0155d030e13620'), 'course': 'Physics 104', 'enrollments': 17, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('672b19df0f0155d030e13621'), 'course': 'Physics 105', 'enrollments': 19, 'department': 'Physics', 'enrollment_category': 'low'}

### Homework for Students
- **Homework 1**: Perform an aggregation to get a count of courses per department.

In [10]:
aggregation_result_1 = courses_collection.aggregate([
    {
        "$group": {
            "_id": "$department",  # Kelompokkan berdasarkan departemen
            "course_count": { "$sum": 1 }  # Hitung jumlah kursus per departemen
        }
    }
])

# Menampilkan hasil Pekerjaan Rumah 1
print("Jumlah kursus per departemen:")
for result in aggregation_result_1:
    print(result)

Jumlah kursus per departemen:
{'_id': 'Physics', 'course_count': 5}
{'_id': 'Computer Science', 'course_count': 5}
{'_id': 'History', 'course_count': 5}
{'_id': 'Mathematics', 'course_count': 5}

- **Homework 2**: Use `$match` and `$group` together to filter and get only courses with enrollments over 25 in 'Computer Science'.

In [11]:
aggregation_result_2 = courses_collection.aggregate([
    {
        "$match": {
            "department": "Computer Science",  # Filter berdasarkan departemen 'Computer Science'
            "enrollments": { "$gt": 25 }  # Filter hanya kursus dengan enrollments lebih dari 25
        }
    },
    {
        "$group": {
            "_id": "$course",  # Kelompokkan berdasarkan nama kursus
            "total_enrollments": { "$sum": "$enrollments" }  # Hitung jumlah enrollments per kursus
        }
    }
])

# Menampilkan hasil Pekerjaan Rumah 2
print("\nKursus dengan enrollments > 25 di Computer Science:")
for result in aggregation_result_2:
    print(result)

Kursus dengan enrollments > 25 di Computer Science:
{'_id': 'CS 103', 'total_enrollments': 29}
{'_id': 'CS 105', 'total_enrollments': 33}
{'_id': 'CS 102', 'total_enrollments': 26}
{'_id': 'CS 104', 'total_enrollments': 31}

- **Homework 3**: Apply `$lookup` to join `courses` collection with `students` collection based on student enrollments.

In [12]:
aggregation_result_3 = courses_collection.aggregate([
    {
        "$lookup": {
            "from": "students",  # Koleksi yang ingin digabungkan
            "localField": "course",  # Field di koleksi 'courses' yang menjadi referensi
            "foreignField": "enrolled_course",  # Field di koleksi 'students' yang menjadi referensi
            "as": "student_enrollments"  # Nama field baru yang akan berisi data yang digabungkan
        }
    }
])

# Menampilkan hasil Pekerjaan Rumah 3
print("\nHasil Lookup antara courses dan students:")
for result in aggregation_result_3:
    print(result)

Hasil Lookup antara courses dan students:
{'_id': ObjectId('672b19df0f0155d030e1360e'), 'course': 'Math 101', 'enrollments': 35, 'department': 'Mathematics', 'student_enrollments': []}
{'_id': ObjectId('672b19df0f0155d030e1360f'), 'course': 'Math 102', 'enrollments': 28, 'department': 'Mathematics', 'student_enrollments': []}
{'_id': ObjectId('672b19df0f0155d030e13610'), 'course': 'Math 103', 'enrollments': 35, 'department': 'Mathematics', 'student_enrollments': []}
{'_id': ObjectId('672b19df0f0155d030e13611'), 'course': 'Math 104', 'enrollments': 32, 'department': 'Mathematics', 'student_enrollments': []}
{'_id': ObjectId('672b19df0f0155d030e13612'), 'course': 'Math 105', 'enrollments': 27, 'department': 'Mathematics', 'student_enrollments': []}
{'_id': ObjectId('672b19df0f0155d030e13613'), 'course': 'CS 101', 'enrollments': 25, 'department': 'Computer Science', 'student_enrollments': []}
{'_id': ObjectId('672b19df0f0155d030e13614'), 'course': 'CS 102', 'enrollments': 26, 'department': 'Computer Science', 'student_enrollments': []}
{'_id': ObjectId('672b19df0f0155d030e13615'), 'course': 'CS 103', 'enrollments': 29, 'department': 'Computer Science', 'student_enrollments': []}
{'_id': ObjectId('672b19df0f0155d030e13616'), 'course': 'CS 104', 'enrollments': 31, 'department': 'Computer Science', 'student_enrollments': []}
{'_id': ObjectId('672b19df0f0155d030e13617'), 'course': 'CS 105', 'enrollments': 33, 'department': 'Computer Science', 'student_enrollments': []}
{'_id': ObjectId('672b19df0f0155d030e13618'), 'course': 'History 101', 'enrollments': 20, 'department': 'History', 'student_enrollments': []}
{'_id': ObjectId('672b19df0f0155d030e13619'), 'course': 'History 102', 'enrollments': 22, 'department': 'History', 'student_enrollments': []}
{'_id': ObjectId('672b19df0f0155d030e1361a'), 'course': 'History 103', 'enrollments': 18, 'department': 'History', 'student_enrollments': []}
{'_id': ObjectId('672b19df0f0155d030e1361b'), 'course': 'History 104', 'enrollments': 24, 'department': 'History', 'student_enrollments': []}
{'_id': ObjectId('672b19df0f0155d030e1361c'), 'course': 'History 105', 'enrollments': 19, 'department': 'History', 'student_enrollments': []}
{'_id': ObjectId('672b19df0f0155d030e1361d'), 'course': 'Physics 101', 'enrollments': 15, 'department': 'Physics', 'student_enrollments': []}
{'_id': ObjectId('672b19df0f0155d030e1361e'), 'course': 'Physics 102', 'enrollments': 18, 'department': 'Physics', 'student_enrollments': []}
{'_id': ObjectId('672b19df0f0155d030e1361f'), 'course': 'Physics 103', 'enrollments': 20, 'department': 'Physics', 'student_enrollments': []}
{'_id': ObjectId('672b19df0f0155d030e13620'), 'course': 'Physics 104', 'enrollments': 17, 'department': 'Physics', 'student_enrollments': []}
{'_id': ObjectId('672b19df0f0155d030e13621'), 'course': 'Physics 105', 'enrollments': 19, 'department': 'Physics', 'student_enrollments': []}